{% extends 'main.html' %}

{% block main %}

<h1 class="display-3">Анализатор страниц</h1>
<form action="{{ url_for('create_url') }}" method="post"
      class="d-flex justify-content-center" required="">
    <input type="text" name="url"
           placeholder="https://www.example.com"
           value="{{ request.form.url|default('') }}"
           class="form-control form-control-lg">
    <input type="submit"
           class="btn btn-primary btn-lg ms-3 px-5 text-uppercase mx-3"
           value="Проверить">
</form>

{% endblock %}


</body>
</html>