{% extends 'main.html' %}

{% block main %}
    <h1>Сайты</h1>

    <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap"
               data-test="urls">
            <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
            </tr>
            </thead>
            <tbody>
            {% if items %}
            {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td><a href="{{ url_for('get_url', url_id=item.id) }}">
                    {{ item.name }}
                </a></td>
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}